<!DOCTYPE html>
<html>

<head>
    <title>IMPRODE DASHBOARD</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/stylesheet/bootstrap.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheet/dashboard.css">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="/img/univaLogo.png" alt="" class="univa-logo">
                <h3>IMPRODE</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="">Postulación</a>
                </li>
                <li>
                    <a href="/misdatos">Mis Datos</a>
                </li>
                <li>
                    <a href="/recursos">Recursos</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="main">
            <button type="button" id="sidebarCollapse" class="btn btn-light">
                <img src="/img/univaLogo.png" alt="" class="univa-logo"> MENU
            </button>
            <span>Postulación</span>
            <span id="logout"><a href="/logout">Cerrar Sesión</a></span>

            <div id="titulo-tabla">Contesta las siguientes preguntas</div>
            <form action="/postulacion" method="POST">
                <table class="table" id="tabla-postulacion">
                    <tbody>
                        <tr class="thead-light">
                            <th scope="row" colspan="2">
                                Modelo de Impacto <br>
                                ¿Qué tipo de impacto quieres tener como empresa/organización (impacto social, impacto
                                personal, impacto local, impacto en una comunidad, impacto ambiental, etc.)? <br>
                                ¿Cómo mides tu impacto?
                            </th>
                        </tr>
                        <tr>
                            <td scope="row" colspan="2"><textarea name="respuesta1" class="form-control" rows="5"><%=respuesta1 %></textarea></td>
                        </tr>


                        <tr class="thead-light">
                            <th scope="row" style="width: 50%">
                                Propuesta de valor<br>
                                ¿Qué hace única la propuesta de tu organización? <br>
                                ¿Quién más está en el espacio que te
                                interesa, y por qué eres mejor?
                            </th>
                            <th scope="row" style="width: 50%">
                                Aliados<br>
                                ¿Con quién trabajas para crear impacto positivo para tu negocio o para el contexto en
                                general? <br>
                                ¿Con quién no trabajarías?<br>
                                ¿Quiénes son tus clientes, fundadores y red de contactos?
                            </th>
                        </tr>
                        <tr class="thead-light">
                            <td scope="row"><textarea name="respuesta2" class="form-control" rows="6"><%= respuesta2 %></textarea></td>
                            <td scope="row"><textarea name="respuesta3" class="form-control" rows="6"><%= respuesta3 %></textarea></td>
                        </tr>


                        <tr class="thead-light">
                            <th scope="row">
                                Productos y Servicios<br>
                                ¿Qué estas creando? <br>
                                ¿Cómo te aseguras que tu producto o servicio funciona bien, y produce el impacto que
                                estas esperando lograr?
                            </th>
                            <th scope="row">
                                Talento y Modelo Operacional<br>
                                ¿Quién hace el trabajo? <br>
                                ¿Cómo necesitan ser el organigrama organizacional y la estructura de costos de tu
                                organización para lograr las metas interpuestas en tu modelo
                                de impacto y propuesta de valor?
                            </th>
                        </tr>
                        <tr class="thead-light">
                            <td scope="row"><textarea name="respuesta4" class="form-control" rows="6"><%= respuesta4 %></textarea></td>
                            <td scope="row"><textarea name="respuesta5" class="form-control" rows="6"><%= respuesta5 %></textarea></td>
                        </tr>


                        <tr class="thead-light">
                                <th scope="row" colspan="2">
                                    Modelo de ventas<br>
                                    ¿Cómo se financia tu trabajo?<br>
                                    ¿Cómo se puede financiarse creativamente?
                                </th>
                            </tr>
                            <tr>
                                <td scope="row" colspan="2"><textarea name="respuesta6" class="form-control"  rows="5"><%= respuesta6 %></textarea></td>
                            </tr>
                    </tbody>
                </table>

               <table class="table" id="tabla-postulacion">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 35%">Pregunta</th>
                            <th scope="col" style="width: 65%">Respuesta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">¿Te consideras un emprendedor? ¿Por qué? </td>
                            <td><textarea name="respuesta7" class="form-control" id="exampleFormControlTextarea1" rows="5"><%= respuesta7 %></textarea></td>
                        </tr>
                        <tr>
                            <td scope="row">¿Qué mensaje le darías al cliente para promover el servicio que propones?
                            </td>
                            <td><textarea name="respuesta8" class="form-control" id="exampleFormControlTextarea1" rows="5"><%= respuesta8 %></textarea></td>
                        </tr>
                        <tr>
                            <td scope="row"> Te invitamos a que presentes tu proyecto y tu equipo en un video de no más
                                de 2 minutos
                                <br><br>
                                Nota: puedes subirlo a cualquier plataforma de videos como youtube y poner el link en
                                el espacio de texto, por ejemplo: https://www.youtube.com/watch?v=klVWGHtRTuE
                            </td>
                            <td><textarea name="respuesta9" class="form-control" id="exampleFormControlTextarea1" rows="5"><%= respuesta9 %></textarea></td>
                        </tr>
                        <tr>
                            <td>
                                Selecciona uno de los objetivos de desarrollo sustentable que se identifique con tu idea
                            </td>
                            <td>
                                <select name="respuesta10" class="form-control" id="exampleFormControlSelect1">
                                    <option selected disabled hidden>
                                        <%= respuesta10 %>
                                    </option>
                                    <option>1. Fin de la pobreza</option>
                                    <option>2. Hambre cero</option>
                                    <option>3. Salud y bienestar</option>
                                    <option>4. Educación de calidad</option>
                                    <option>5. Igualdad de genero</option>
                                    <option>6. Agua limpia y saneamiento</option>
                                    <option>7. Energía asequible y no contaminante </option>
                                    <option>8. Trabajo decente y crecimiento económico</option>
                                    <option>9. Industria innovación e infraestructura</option>
                                    <option>10. Reducción de las desigualdades</option>
                                    <option>11. Ciudades y comunidades sostenibles</option>
                                    <option>12. Producción y consumo responsable</option>
                                    <option>13. Acción por el clima</option>
                                    <option>14. Vida submarina</option>
                                    <option>15. Vida de ecosistemas terrestres</option>
                                    <option>16. Paz, justicia e instituciones solidas</option>
                                    <option>17. Alianzas para lograr los objetivos</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn btn-primary btn-lg" id="boton-guardar">Guardar</button>
            </form>
        </div>
    </div>




    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

</body>

</html>