<!DOCTYPE html>
<html>

<head>
    <title>IMPRODE DASHBOARD</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/stylesheet/bootstrap.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/stylesheet/dashboard.css">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <img src="/img/univaLogo.png" alt="" class="univa-logo">
                <h3>IMPRODE</h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="">Postulación</a>
                </li>
                <li>
                    <a href="/misdatos">Mis Datos</a>
                </li>
                <li>
                    <a href="/recursos">Recursos</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="main">
            <button type="button" id="sidebarCollapse" class="btn btn-light">
                <img src="/img/univaLogo.png" alt="" class="univa-logo"> MENU
            </button>
            <span>Postulación</span>

            <div id="titulo-tabla">Contesta las siguientes preguntas</div>
            <form action="/postulacion" method="POST">
                <table class="table" id="tabla-encuesta">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" style="width: 30%">Pregunta</th>
                            <th scope="col" style="width: 70%">Respuesta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">¿Qué producto o servicio produces?</td>
                            <td><textarea name="respuesta1" class="form-control" id="exampleFormControlTextarea1" rows="5"><%=respuesta1 %></textarea></td>
                        </tr>
                        <tr>
                            <td scope="row">¿Por qué consideras que la solución que propones es innovadora o cuenta con un valor agregado?</td>
                            <td><textarea name="respuesta2" class="form-control" id="exampleFormControlTextarea1" rows="5"><%= respuesta2 %></textarea></td>
                        </tr>
                        <tr>
                            <td scope="row">¿Qué problemática resuelves con tu producto o servicio?</td>
                            <td><textarea name="respuesta3" class="form-control" id="exampleFormControlTextarea1" rows="5"><%= respuesta3 %></textarea></td>
                        </tr>
                        <tr>
                            <td scope="row">¿Quiénes, cuantos y en donde se beneficiarán con tú propuesta? </td>
                            <td><textarea  name="respuesta4" class="form-control" id="exampleFormControlTextarea1" rows="5"><%= respuesta4 %></textarea></td>
                        </tr>
                        <tr>
                            <td scope="row">¿Te consideras un emprendedor? ¿Por qué? </td>
                            <td><textarea name="respuesta5" class="form-control" id="exampleFormControlTextarea1" rows="5"><%= respuesta5 %></textarea></td>
                        </tr>
                        <tr>
                            <td scope="row">¿Qué mensaje le darías al cliente para promover el servicio que propones?
                            </td>
                            <td><textarea name="respuesta6" class="form-control" id="exampleFormControlTextarea1" rows="5"><%= respuesta6 %></textarea></td>
                        </tr>
                        <tr>
                            <td scope="row"> Te invitamos a que presentes tu proyecto y tu equipo en un video de no más de 2 minutos 
                                <br><br>
                                Nota: puedes subirlo a cualquier plataforma de videos como youtube y poner el link en el espacio de texto, por ejemplo: https://www.youtube.com/watch?v=klVWGHtRTuE
                            </td>
                            <td><textarea name="respuesta7" class="form-control" id="exampleFormControlTextarea1" rows="5"><%= respuesta7 %></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary btn-lg" id="boton-guardar">Guardar</button>
            </form>
        </div>
    </div>




    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

</body>

</html>